@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Roboto:wght@500&display=swap');

:root {
    --light: #FFF;
    --dark: #222222;
    --box: #FFF;
    --background: var(--light);
    --foreground: var(--dark);
}

.darkmode {
    --light: #FFF;
    --dark: #222222;
    --box: #303030;
    --background: var(--dark);
    --foreground: var(--light);
}

body {
    background-color: var(--background);
    color: var(--foreground);
    font-family: Roboto;
    transition: .3s;
}

.container {
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
}

.header {
    font-family: Roboto;
    font-size: 2.5em;
    margin: 10px;
}

.coin-area {
    margin: 10px;
}

.coin-detail {
    display: flex;
    background-color: var(--box);
    box-shadow: rgb(4 17 29 / 25%) 0px 0px 10px 0px;
    border-radius: 4px;
    font-family: Oswald;
    font-size: 20px;
    padding: 15px;
    margin: 10px;
}

.labels {
    display: flex;
    font-family: Oswald;
    font-size: 20px;
    padding: 15px;
}

/* buttons */
.reset-button-area {
    
}
.reset-button {
    background-color: #df4242;
    color: var(--background);
    outline: none;
    border: none;
    height: 40px;
    font-size: 19px;
    border-radius: 4px;
    cursor: pointer;
    transition: .3s;
}

/* headings */
.name-heading {
    display: flex;
    width: 245px;
}

.price-heading {
    display: flex;
    width: 300px;
}

.market-heading {
    display: flex;
    width: 120px;
}

.supply-heading {
    display: flex;
    width: 120px;
}

.change-heading {
    display: flex;
    width: 120px;
}

.icon {
    display: flex;
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.icon-favorite {
    display: flex;
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.symbol-name {
    display: flex;
    width: 200px;
    margin-left: 5px;
}

.last-price {
    display: flex;
    width: 300px;
}

.market-cap {
    display: flex;
    width: 120px;
}

.supply {
    display: flex;
    width: 120px;
}

.price-change {
    display: flex;
    width: 260px;
}

.positive {
    color: rgb(49, 199, 109);
}

.negative {
    color: rgb(199 49 49);
}

.coin-buttons {
    align-content: right;
}

.watch-area {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    padding: 15px;
}

.watch-box {
    display: grid;
    justify-content: center;
    background-color: var(--box);
    box-shadow: rgb(4 17 29 / 25%) 0px 0px 10px 0px;
    border-radius: 4px;
    font-family: Oswald;
    font-size: 20px;
    height: 70px;
    margin: 10px;
    padding: 15px;
}

.favorite {
    background-color: #2a96e9;
    color: white;
    outline: none;
    border: none;
    height: 40px;
    font-size: 19px;
    padding: 6px 12px;
    border-radius: 4px;
    cursor: pointer;
    transition: .3s;
}

.favorite:hover {
    background-color: #222222;
    color: white;
}

.graph-area {

}

.graph-box {
    margin: 10px;
    padding: 15px;
}

.graph {
    background-color: #4ed54e;
    color: white;
    outline: none;
    border: none;
    height: 40px;
    font-size: 19px;
    padding: 6px 12px;
    border-radius: 4px;
    cursor: pointer;
    transition: .3s;
}

.graph:hover {
    background-color: #222222;
    color: white;
}


/* dark mode */
.dark-mode-toggle {
    background-color: var(--foreground);
    color: var(--background);
    outline: none;
    border: none;
    height: 40px;
    font-size: 19px;
    border-radius: 4px;
    cursor: pointer;
    transition: .3s;
}

.footer {
    font-family: Roboto;
    font-size: 15px;
    text-align: center;
    margin: 10px;
}